.ObjectDetection{
    .webcam-div {
        padding-top: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
      }
      h3{
        color:white;
        display: block;
        width: 150px;
        margin: 0 auto;
      }
      .button-section{
        display: flex;
        position: absolute;
        bottom: 0;
        // center it
        left: 50%;
        transform: translate(-50%, -50%);
        button{
          margin: 0 10px;
        }
      }
      .detected{
        position: absolute;
        bottom: 200px;
        color: white;
        h4{
          font-size: 20px;
        }
        // center it
        left: 50%;
        transform: translate(-50%, -50%);
      }
}